@model IdentityServer8.Models.ModelViewModels.ResetPasswordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Reset Password";
    var returnUrl = Model.ReturnUrl;
}

<section class="reset">
    <div class="reset__container">
        <h2 class="reset__title">Reset your password</h2>
        <p class="reset__text">Type in your new password</p>

        <form asp-action="CreatePassword" method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.ReturnUrl)
            @Html.HiddenFor(m => m.Username)
            @Html.HiddenFor(m => m.Token)
            @Html.AntiForgeryToken()

            <div class="reset__form">
                <div class="form-group reset__form__newpas">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="New password *" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group reset__form__retpas">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm new password *" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="reset__button">
                <button class="reset__button__re btn btn-primary" type="submit">RESET</button>
                <a class="reset__button__ba btn btn-link"
                   asp-controller="Account"
                   asp-action="Login"
                   asp-route-returnUrl="@returnUrl">
                    BACK TO LOGIN
                </a>
            </div>
        </form>

        @RenderSection("Scripts", required: false)

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
    </div>
</section>